<!-- ---
import BlogPost from "../../layouts/BlogPost.astro";
import { app } from "../../firebase/server";
import { getFirestore } from "firebase-admin/firestore";
import { Markdown } from "@astropub/md";
import type { CollectionEntry } from "astro:content";

type Task = CollectionEntry<"blog"> & {
  content: string;
  description: string;
  heroImage: string;
  pubDate: string;
  title: string;
  achievements: string;
  recognition: string;
  subtitle: string;
  overview: string;
};

const { id } = Astro.params;

if (!id) {
  return Astro.redirect("/404");
}

const db = getFirestore(app);
const TasksRef = db.collection("tasks");
const TaskSnapshot = await TasksRef.doc(id).get();

if (!TaskSnapshot.exists) {
  return Astro.redirect("/404");
}

const task = TaskSnapshot.data() as Task;
---

<BlogPost {...task}>
  <h1>{task.title}</h1>
  <p>{task.content}</p>
  <Markdown of={task.content} />
</BlogPost> -->
